<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <clear />
    <!--PIN must be 4 digits-->
    <add key="RightNumber" value="^(\d){4}$" />
    <!--
    Regular Expression 
      AABB(A may be is same as B ):^(\d)\1(\d)\2$
      AAAB(A may be is same as B ):^(\d)\1{2}(\d)$
      ABAB(A may be is same as B ):^(\d)(\d)\1\2$
      ABBA(A may be is same as B ):^(\d)(\d)\2\1$
      ABBB(A may be is same as B ):^(\d)(\d)\2\2$
      ABCD(A is zero)             :^(0)(\d){3}$
      ABCD+                       :^(\d){5,}$
      A                           :^(\d)$
      AB                          :^(\d){2}$
      ABC                         :^(\d){3}$
      
      ****** unused *******
      A(A+1)(A+2)(A+3)            :^1234$
      A(A+1)(A+2)(A+3)            :^2345$
      A(A+1)(A+2)(A+3)            :^3456$
      A(A+1)(A+2)(A+3)            :^4567$
      A(A+1)(A+2)(A+3)            :^5678$
      A(A+1)(A+2)(A+3)            :^6789$
    -->
    <add key="ExceptionNumber" value="^(\d)\1(\d)\2$|^(\d)\1{2}(\d)$|^(\d)(\d)\1\2$|^(\d)(\d)\2\1$|^(\d)(\d)\2\2$|^(0)(\d){3}$" />
    <!--PIN's max-->
    <add key="MaxDigit" value="9999" />
    <!--PIN's min-->
    <add key="MinDigit" value="1000" />
    <!--if debug is ture then LoggerHelper.Debug will print something . Otherwise print nothing-->
    <add key="Debug" value="false" />
    <!--
      DIP: Set Log ClassName
      Currently ,System only support one log Class. 
      DIP: Set SaveDataClass, LoadDataClass
      Currently ,System only support physical Class.
    -->
    <add key="Logger" value="PINs.Tools.ConsoleLogger" />
    <add key="SaveDataClass" value="PINs.Tools.SaveDataToFile`1[System.Int32]" />
    <add key="LoadDataClass" value="PINs.Tools.LoadDataFromFile" />
    <add key="ClearDataClass" value="PINs.Tools.ClearDataFromFile" />
    <add key="AlgorithmClass" value="PINs.Algorithm.PINHash" />
    <add key="DataInitialClass" value="PINs.Tools.DataInitialFromFile" />
    <add key="ExceptionDigitDataSet" value="ExceptionDigit.txt" />
    <add key="UsedDigitDataSet" value="UsedDigit.txt" />
    <add key="UnusedDigitDataSet" value="UnusedDigit.txt" />
    <add key="IsNeedNewGeneration" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>