<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <clear />
    <!--
    Regular Expression 
      AABB(A may be is same as B ):^(\d)\1(\d)\2$
      AAAB(A may be is same as B ):^(\d)\1{2}(\d)$
      ABAB(A may be is same as B ):^(\d)(\d)\1\2$
      ABBA(A may be is same as B ):^(\d)(\d)\2\1$
      ABBB(A may be is same as B ):^(\d)(\d)\2\2$
      ABCD(A is zero)             :^(0)(\d){3}$
      ABCD+                       :^(\d){5,}$
      A                           :^(\d)$
      AB                          :^(\d){2}$
      ABC                         :^(\d){3}$
      
      ****** unused *******
      A(A+1)(A+2)(A+3)            :^1234$
      A(A+1)(A+2)(A+3)            :^2345$
      A(A+1)(A+2)(A+3)            :^3456$
      A(A+1)(A+2)(A+3)            :^4567$
      A(A+1)(A+2)(A+3)            :^5678$
      A(A+1)(A+2)(A+3)            :^6789$
    -->
    <add key="RightNumber" value="^(\d){4}$" />
    <add key="ExceptionNumber" value="^(\d)\1(\d)\2$|^(\d)\1{2}(\d)$|^(\d)(\d)\1\2$|^(\d)(\d)\2\1$|^(\d)(\d)\2\2$|^(0)(\d){3}$" />
    <!--<add key="ObviousNumber" value="^(\d)\1(\d)\2$|^(\d)\1{2}(\d)$|^(\d)(\d)\1\2$|^(\d)(\d)\2\1$|^(\d)(\d)\2\2$|^(0)(\d){3}$|^(\d){5,}$|^(\d)$|^(\d){2}$|^(\d){3}$" />-->
    <add key="MaxDigit" value="9999"/>
    <add key="MinDigit" value="1000"/>
    <add key="Debug" value="false" />
    <add key="Logger" value="PINs.Tools.ConsoleLogger" />
    <add key="ExceptionDigitFileName" value="ExceptionDigit.txt" />
    <add key="UsedDigitFileName" value="UsedDigit.txt" />
    <add key="UnusedDigitFileName" value="UnusedDigit.txt" />
    <add key="IsNeedNewGeneration" value="false" />
    

  </appSettings>
</configuration>